.sidebar a:hover {
    color: #efc93f;
}

.sidebar .sidebar-projectName {
    color: #fff;
}

.sidebar .sidebar-listNav li.selected, .sidebar .sidebar-listNav li.selected a, .sidebar .sidebar-listNav li:hover, .sidebar .sidebar-listNav li:hover a {
    border-color: #efc93f;
    color: #f1f1f1;
}

.sidebar #full-list li.group {
    color: #fff;
}

.sidebar {
    background: #ff7c30;
    color: #000000;
}

.sidebar a {
    color: #d5dae6;
}

.sidebar .sidebar-projectVersion {
    color: #ff7c30;
}

.sidebar #full-list > li.current-page > a, .sidebar #full-list li a.expand span:hover {
    color: rgba(28, 42, 49, 1);
}


.sidebar .sidebar-search .search-input {
    background-color: #efc93f;
    color: black;
}

.autocomplete {
  color:#111111;
  background: #f1f1f1;
}

.autocomplete-suggestions {
  background: #f1f1f1;
  color:#111111;
}

.autocomplete-suggestions :hover {
  background:  #ff7c30;
  color:#111111;
  border-left: 1px solid #ff7c30;
}

.autocomplete-suggestion {
  background: #f1f1f1;
  color:#111111;
}

.autocomplete a {
  background:#efc93f;
  color:#111111;
}

#search .result-elem em, #search .result-id em {
    color:#efc93f;
}

body.night-mode #search .result-id a:hover {
    color:#efc93f;
}
